<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Adosh</title>
    <!-- ======= Styles =l===== -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/main.css">

    <link rel="shortcut icon" href="./assets/img/logo.png" type="image/x-icon">
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="index.html">
                        <span class=" bgc__2">
                            <!-- <ion-icon name="logo-apple"></ion-icon> -->
                            <img class="icon1" src="./assets/img/logo1.png" alt="">
                        </span>
                        <span class="title1">American Dream Osh</span>
                    </a>
                </li>

                <li class="hovered">
                    <a href="course.html">
                        <span class="icon">
                            <ion-icon name="book"></ion-icon>
                        </span>
                        <span class="title">Курсы</span>

                    </a>
                </li>

                <li>
                    <a href="teachers.html">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Учителя</span>
                    </a>
                </li>

                <li>
                    <a href="news.html">
                        <span class="icon">
                            <ion-icon name="chatbubble-outline"></ion-icon>
                        </span>
                        <span class="title">Новости</span>
                    </a>
                </li>

                <li>
                    <a href="gallery.html">
                        <span class="icon">
                            <ion-icon name="images"></ion-icon>
                        </span>
                        <span class="title">Галарея</span>
                    </a>
                </li>




                <li>
                    <a href="password.html">
                        <span class="icon">
                            <ion-icon name="eye"></ion-icon>
                        </span>
                        <span class="title">Пароль</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Выйти</span>
                    </a>
                </li>
            </ul>
        </div>

      {% block content %}{% endblock %}

    </div>

<!-- =========== Scripts =========  -->
    <script src="assets/js/script.js"></script>


    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>